.cartridges1 {
  background-image: url(../assets/images/goodproduct.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.caritage-col {
  height: 797px;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize !important;
}
.prerolls {
  background-image: url(../assets/images/prerolls.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 398.5px;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize !important;
}
.edibles {
  background-image: url(../assets/images/edibles.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 398.5px;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize !important;
}

.badges {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1.96429px;
  color: #ffffff;
  text-transform: capitalize !important;
}
