.nav-link {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.928571px;
  color: #211e1e;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 3px solid black;
}
